/*
Autor: Estiven Oviedo Gonzalez
*/
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #353e4c;
}

table td{
    padding: 0.3% 0 !important;
    text-align: center;
}

a{
  color:black !important;
  text-decoration: none !important;
}

th{
  text-align: center !important;
}
input,select,textarea{
  color: white !important;
}
.contenedor-tabla{/*Estiven 2018*/
margin-left: 20%;
margin-right: 10%;
}
.header-appvalue{
	background-color:grey !important;
	color: white !important;
}

.navbar-brand{
  color:white !important;
}

.logout{
  background-color:grey !important;
}

.panel{
	text-align: center;
	width: 50%;
	display: inline-block;
	margin-top: 200px;
}

.form-control{
	background-color: grey !important;
	border-radius: 0 !important;
	border: none !important;
}

.contendor-login{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10% 32%;
    display: inline-block;
}

.login-title{
  padding: 10%;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1%;
	background-color:grey;
}

.footer-left{
    width: 49%;
	text-align: left;
	display: inline-block;
  color: white;
}

.footer-right{
	width: 49%;
	text-align: right;
	display: inline-block;
}

/* inicio menu */
body,html{
  height: 100%;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
  padding: 10px 10px 0 10px;
}

.main{
  position: absolute;
  width: calc(100% - 40px);
  margin-left: 40px;
  float: right;
}

nav.sidebar:hover + .main{
  margin-left: 200px;
}

nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}

nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

nav.sidebar a{
  padding-right: 13px;
}

nav.sidebar .navbar-nav > li:first-child{
  border-top: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav > li{
  border-bottom: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
  padding: 0 0px 0 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #777;
}

nav.sidebar{
  width: 200px;
  height: 100%;
  margin-left: -160px;
  float: left;
  margin-bottom: 0px;
}

nav.sidebar li {
  width: 100%;
}

nav.sidebar:hover{
  margin-left: 0px;
}

.forAnimate{
  opacity: 0;
}

.main{
  width: calc(100% - 200px);
  margin-left: 200px;
}

nav.sidebar{
  margin-left: 0px;
  float: left;
}

nav.sidebar .forAnimate{
  opacity: 1;
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}
/* fin menu */

/*
botones del datatable
*/

.toolbar {
  float: left;
}

/*
fin botones del datatable
*/

.contain-form{
  display: inline-block;
  width: 49%;
  vertical-align: top;
  text-align: left;
}

.contain-submit{
  text-align: right;
}

.input-form{
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px 0px;
}

/*
estilos del menu material
*/

.option-mdl-menu{
  color: black !important;
  text-decoration: none !important;
  padding: 0 !important;
  margin:0 !important;
  background-color: white !important;
  border: none !important;
}

.contain-form-file{
  display: inline-block;
  width: 80%;
}

.btn-form-file{
  display: inline-block;
  width: 19%;
}

.form-file{
  margin-bottom: 20px;
}

.comparacion-link{
  color: #3097D1 !important;
}

.btn-menu-opciones{
  display: block;
  padding: 0;
  background-color: white;
  border:none;
  color: black;
  margin: 3px 20px;
  line-height: 1.6;
  white-space: nowrap;
}
/* miga de pan */
.breadcrumb{
    margin: 0 !important;
    padding: 0 !important;
}

#tabla_wrapper .dataTables_filter input{
  border: 1px solid;
}
/* responsive */
@media (max-width: 1025px){
    .col-md-10 {
    width: 70%!important;
    display: inline-block;
    }
}

.select-tecnologias{
    height: 300px !important;
    width: 100%;
}
